/* style css */
p { 
    color: red;
    font-size: 20px;
    font-weight: bold;
}
h1 {
    color: blue;
}

/* class selector */
.warna-merah {
    color: red;
}

/* id selector */
#warna-biru {
    color: blue;

}